<!-- 20200806 -->
<!-- 20200806 NUMBER OF POST PER USER-->
<!-- 20200806 LINK TO USER POSTS-->
{% extends "blog/base.html" %}
{% block content %}
<!-- 20200806 TOTAL POST OF A USER START-->
    <h1 class="mb-3" >Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
<!-- 20200806 TOTAL POST OF A USER END-->
    {% for post in posts %}
        <article class="media content-section">
            <!--Start Add profile picture on each blog post -->
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
             <!-- End Add profile picture on each blog post -->
          <div class="media-body">
            <div class="article-metadata">
                <!-- 20200806 LINK TO USER POSTS START-->
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <!-- 20200806 LINK TO USER POSTS END-->
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
              <!--Start -enabling link for each post --> <!--{% url 'post-detail'  post.id %}--End  -->
            <h2><a class="article-title" href="{% url 'post-detail'  post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
<!-- 20200806 pagination for blogs start-->
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                 <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}">Last</a>
        {% endif %}
    {% endif %}
<!-- 20200806 pagination for blogs end-->
{% endblock content %}
